body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 560px;
    width: 560px;
}

.pixel {
    display: flex;
    width: 58px;
    height: 58px;
    border: 1px solid black;
}

.slidecontainer {
    display: flex;
    width: 560px;
    gap: 40px;
}

.slider {
    width: 50%;
}
